typer==0.4.1
pandas==1.1.5
scikit-learn==1.0.2
matplotlib==3.5.1
plotly==5.6.0
umap-learn==0.5.2
plotnine==0.8.0
pycwt==0.3.0a22
PyWavelets==1.3.0
BaselineRemoval==0.0.7
datashader==0.13.0
scikit-image==0.19.2
colorcet==3.0.0
seaborn==0.11.2
nlopt==2.7.1
natsort==8.1.0
tensorflow==2.8.0




